* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

h1,h2,h3,p, a, span, button{
    font-family: "Noto Sans", sans-serif;
}
/* header */
header{
    width: 100%;
    height: 95vh;
    background: url(../Assents/images/Fondo.png) no-repeat center center / cover;
}
.one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4% 8% 4% 10%;
    background-color: #3f4a51e6;
}
.one h2{
    color: white;
}
.azu{
    color: #4BCAFF;
}
.two a{
    font-weight: 600;
    text-decoration: none;
    color: white;
    padding: 5px 11px;
}
.bor{
    color: #4BCAFF;
    border: 2px solid #4BCAFF;
}
.uno {
    display: flex;
    color: white;
    align-items: center;
    flex-direction: column;
    padding: 13% 0;
}

.uno p {
    background-color: #3f4a51ce;
    padding: 10px 25px;
    margin: 5px;
    font-size: 25px;
    font-weight: 100;
}
/* dos */
.dos{
    display: grid;
    background-color: #4BCAFF;
    grid-template-columns: repeat(4, 1fr);
    color: white;
    padding: 6% 10% 4%;
    justify-content: space-between;
    gap: 20px;
}
.hj{
    font-size: 11px;
}
.hj h3{
    font-size: 15px;
    padding: 10px 0;
}
/* tres */
.lip{
    display: flex;
    justify-content: space-between;
    padding: 4% 10% 4% 10%;
}
.hjdhggs p {
    color: #68747B;
}
.tyuy{
    border: 1px solid black;
    width: 35%;
}
.lip a{
    padding: 10px;
    color: #6C767D;
    text-decoration: none;
}
.azuu{
    padding: 8px 20px;
    border: 2px solid #4BCAFF;
    color: #4BCAFF;
}
.sdyfd{
    display: grid;
    grid-template-rows: repeat(2,  1fr);
    grid-template-columns: repeat(4, 1fr);
    padding: 3% 10% 5% 10%;
    gap: 10px;
}
.sdyfd img{
    width: 100%;
}
/* cuatro */
.cuatro{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    padding: 3% 10% 5% 10%;
    background-color: #515F67;
    color: white;
    justify-content: space-between;
}
.ytubh{
    border: 1px solid white;
    width: 10%;
    margin-bottom: 20px;
}
.yrtu{
    width: 100%;
}
.yrtu p{
    margin-bottom: 17px;
    font-size: 16px;
}
.butt{
    background: transparent;
    border: 2px solid #3A444C;
    padding: 10px 25px;
    color: #353F46;
}
.cuatro img{
    width: 100%;
}
/* cinco */
.cinco{
    color: white;
    background-color: #4BCAFF;
    padding: 3% 10% 3% 10%;
}
.ytytjk{
    border: 1px solid white;
    width: 40%;
}
.padr{
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
}
.cinco p{
    color: #eaf9ffcc;
    font-size: 20px;
    margin-bottom: 10px;
}
.white{
    color: white;
}
/* seis */
.seis{
    width: 100%;
    height: 60vh;
    color: white;
    background: url(../Assents/images/bg_whoIs.png) no-repeat center center / cover;
    padding: 3% 10% 5% 10%;
}
.griddd{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.griddd p{
    font-size: 17px;
}
.mn{
    width: 100%;
    grid-row: 1/2;
    grid-column: 1/4;
}
.ytubed{
    width: 5%;
    margin-bottom: 25px;
}
.gap img{
    padding: 0 20px 0 0;
}
/* siete */
.siete{
    padding: 3% 10% 4% 10%;
    color: #515F67;
}
.siete p{
    font-size: 22px;
    margin-bottom: 20px;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.gris{
    width: 30%;
    border: 1px solid #515F67;
    margin-bottom: 20px;
}
.azul{
    color: #4BCAFF;
    font-size: 20px;
}
/* ocho */
.ocho{
    padding: 3% 10% 4% 10%;
    color: white;
    background: url(../Assents/images/bg_contact.png) no-repeat center center / cover;
}
.gridd p{
    font-size: 14px;
}
.ocho h2{
    font-size: 25px;
    margin-bottom: 5px;
}
.ocho h3{
    font-size: 16px; 
    font-weight: 600;
    margin-bottom: 8px;
}
.gjhgf{
    margin-top: 22px;
}
.ocho hr{
    width: 5%;
    border: 1px solid white;
    margin-bottom: 30px;
}
.gridd{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}
.form{
    width: 100%;
    height: 48px;
    border: 2px solid white;
    background: transparent;
    display: block;
    margin-bottom: 20px;
}
.mess{
    width: 100%;
    height: 150px;
    border: 2px solid white;
    background: transparent;
    display: block;
    margin-bottom: 20px;
}
.btn{
    background-color: #4BCAFF;
    border: none;
    padding: 10px 12%;
    color: white;
    font-size: 16px;
}
/* footer */
footer{
    display: flex;
    justify-content: space-between;
    color: #4F5C64;
    background-color: #353F47;
    padding: 3% 10% 3% 10%;
    font-size: 15px;
}
/* RESPONSIVE */
@media (max-width: 1279px){
    .two a{
        padding: 5px 7px;
        font-size: 15px;
    }
    .uno{
        padding: 8% 0;
    }
    .uno p{
        font-size: 20px;
    }
    /*  */
    .hj {
        font-size: 10px;
    }
    .dos{
        padding: 3% 10% 4%;
    }
    .iooo{
        width: 20%;
    }
    .hj h3{
        font-size: 14px;
    }
    /*  */
    .lip a {
        padding: 4px;
        font-size: 13px;
    }
    .ytubh {
        margin-bottom: 12px;
    }
    .yrtu p {
        margin-bottom: 9px;
        font-size: 13px;
    }
    .yrtu h2{
        font-size: 20px;
    }
    .butt {
        padding: 7px 21px;
    }
    .eewe{
        width: 100%;
    }
    /*  */
    .padr h2{
        font-size: 22px;
    }
    .cinco p {
        font-size: 15px;
    }
    /*  */
    .seis{
        height: 99vh;
        padding: 7% 10% 4% 10%;
    }
    .griddd p {
        font-size: 14px;
    }
    .gap img {
        padding: 0 12px 0 0;
        width: 20%;
    }
    /*  */
    .siete p {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .siete h2{
        font-size: 22px;
    }
    .azul {
        font-size: 16px;
    }
    /*  */
    .gridd p {
        font-size: 12px;
    }
    /*  */
    footer {
        font-size: 12px;
    }
}
@media (max-width: 920px){
    .two a {
        padding: 5px 4px;
        font-size: 12px;
    }
    .one h2 {
        font-size: 20px;
    }
    /*  */
    .uno {
        padding: 10% 0;
    }
    .uno p {
        font-size: 17px;
    }
    .iooo {
        width: 25%;
    }
    /*  */
    .hjdhggs p {
        font-size: 17px;
    }
    .lip a {
        font-size: 10px;
    }
    /*  */
    .ytubh {
        margin-bottom: 8px;
    }
    .yrtu p {
        margin-bottom: 8px;
        font-size: 11px;
    }
    .butt {
        padding: 6px 16px;
        font-size: 12px;
    }
    /*  */
    .seis h2{
        font-size: 20px;
    }
    .padr h2 {
        font-size: 20px;
    }
    .cinco p {
        font-size: 13px;
    }
    /*  */
    .griddd p {
        font-size: 12px;
    }
    /*  */
    .siete h2 {
        font-size: 20px;
    }
    .siete p {
        font-size: 14px;
        margin-bottom: 12px;
    }
    .azul {
        font-size: 14px;
    }
    /*  */
    .ocho hr {
        margin-bottom: 19px;
    }
    .ocho h2 {
        font-size: 22px;
    }
    .ocho h3 {
        font-size: 14px;
    }
    .gridd p {
        font-size: 10px;
    }
    .btn {
        padding: 10px 10%;
    }
    /*  */
    footer {
        font-size: 9px;
    }
}
@media (max-width: 768px){
    .one {
        flex-wrap: wrap;
        justify-content: center;
        gap: 11px;
    }
    /*  */
    .uno {
        padding: 17% 0;
    }
    .uno p {
        font-size: 14px;
    }
    /* */
    .dos{
        grid-template-columns: repeat(2, 1fr);
        padding: 9% 10% 7% 11%;
    }
    .ihfhdd {
        width: 34%;
    }
    .htgyfgh{
        width: 29%;
    }
    /*  */
    .lip {
        flex-wrap: wrap;
        justify-content: center;
        gap: 13px;
    }
    .tyuy {
        margin-left: 30px;
    }
    /*  */
    .cuatro {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .ytubh {
        margin: 0 0 3% 34%;
        width: 30%;
    }
    .yrtu p {
        font-size: 14px;
        margin-bottom: 20px;
    }
    .butt {
        font-size: 15px;
    }
    /*  */
    .cinco p {
        font-size: 14px;
        width: 90%;
    }
    /*  */
    .seis {
        height: 0%;
        padding: 4% 10% 2% 10%;
    }
    .griddd p {
        font-size: 14px;
    }
    .griddd {
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .ytubed {
        width: 12%;
        margin-bottom: 13px;
    }
    .gap img {
        width: 14%;
    }
    /*  */
    .gris {
        margin-bottom: 14px;
    }
    .ocho hr {
        margin-bottom: 15px;
        width: 10%;
    }
    .siete p {
        font-size: 14px;
        width: 90%;
    }
    .gridd {
        grid-template-columns: 1fr;
        gap: 11px;
    }
    .form {
        height: 46px;
        margin-bottom: 0;
    }
    .gridd p {
        font-size: 11px;
    }
    .gjhgf {
        margin-top: 14px;
    }
    .mess{
        height: 100px;
    }
    .jfdfyefdgefd{
        margin-bottom: 13px;
    }
    .btn {
        padding: 10px 7%;
    }
}
@media (max-width: 480px){
    .one h2 {
        font-size: 25px;
    }
    .one {
        padding: 4% 0% 7% 0%;
    }
    .two a {
        padding: 5px 1px;
    }
    /*  */
    .uno {
        padding: 25% 0;
    }
    .uno p {
        font-size: 10px;
    }
    /*  */
    .htgyfgh {
        width: 40%;
    }
    /*  */
    .lip {
        padding: 6% 0 3% 0;
    }
    .sdyfd {
        grid-template-columns: repeat(2, 1fr);
    }
    /*  */
    .yrtu p {
        font-size: 13px;
    }
    /*  */
    .cinco p {
        font-size: 11px;
    }
    .padr {
        margin-bottom: 9px;
    }
    /*  */
    .gap img {
        width: 20%;
    }
    /*  */
    .siete p{
        font-size: 11px;
    }
    /*  */
    .btn {
        padding: 8px 8%;
        font-size: 13px;
    }
    /*  */
    footer {
        font-size: 7px;
        padding: 5% 10% 5% 10%;
    }
}
